<section id="stub-chain" class="slide">
  <h2>Stub a chain of methods</h2>

  <p>The <strong>stub_chain</strong> method lets you to stub a chain of methods in one statement - and there is no need to stub each method in the dependency chain represented by a chain of messages to different objects.</p>

  <script type="syntaxhighlighter" class="brush: ruby">
    Event.recent.published
  </script>
  <br/>
  <script type="syntaxhighlighter" class="brush: ruby">
    describe Event
      describe '.home' do
        events = [Event.new]
        expect(Event).to receive_message_chain(:recent, :published) { events }
        expect(Event.home).to eq(events)
      end
    end
  </script>
</section>
